@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
html {
  box-sizing: border-box;
  background-image:url(assets/bg.png);
  background-repeat: no-repeat;
  background-color: #fdcee2;
  background-position: right top;
}
body {
  margin: 0;
}
header {
  font-family: 'Playfair Display';
  font-size: 15vw;
  font-weight: 600;
  color: #ffffff;
  text-align: right;
  padding-right: 8%;
}

.about {
  height: 100vh;
  width: 8%;
  overflow: hidden;
  transition: all .9s ease;
  position: fixed;
  top: 0%;
}
#about::before {
  content:"about";
}
#about {
  transform: rotate(-90deg);
  font-family: 'Playfair Display';
  color: #ffffff;
  font-size: 4vw;
  position: fixed;
  top: 10%;
  left: -2%;
}
.showabout {
  background-image: url(assets/about.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #fdcee2;
  background-position: center;
  transition: all .9s ease;
  width: 50%;
  z-index: +1;
}
.showabout #about {
  transform: rotate(0deg);
  color: transparent;
  position: fixed;
  top: -2%;
  left: -8%;
}
.showabout #about::after {
  font-size: 2vw;
  content:"close";
  padding: 5px;
  border: solid 2px #ffffff;
  border-radius: 50px;
  background: #fdcee2;
  color: #ffffff;
}
.menu {
  height: 100vh;
  width: 8%;
  background-color: #ffffff;
  overflow: hidden;
  transition: all .10s ease;
  position: fixed;
  top: 0%;
  left: 8%;
}
#menu::before {
  content:"menu";
}

#menu {
  transform: rotate(-90deg);
  font-family: 'Playfair Display';
  color: #fdcee2;
  font-size: 4vw;
  position: fixed;
  top: 10%;
  left: 7%;
}
.showmenu {
  background-image: url(assets/menuonbg.png);
  background-size: cover;
  background-position: top;
  width: 50%;
  z-index: +1;
  transition: ease all .9s;
  position: fixed;
  left: 0%;
  top: 0%;
}
.showmenu #menu {
  transform: rotate(0deg);
  color: transparent;
  position: fixed;
  top: -2%;
  left: -8%;
}
.showmenu #menu::after {
  font-size: 2vw;
  content:"close";
  padding: 5px;
  border: solid 2px #ffffff;
  border-radius: 50px;
  background: #fdcee2;
  color: #ffffff;
}

.merch {
  height: 100vh;
  width: 8%;
  overflow: hidden;
  transition: all .9s ease;
  position: fixed;
  top: 0%;
  left: 16%;
}
#merch::before {
  content:"merch";
}
#merch {
  transform: rotate(-90deg);
  font-family: 'Playfair Display';
  color: #ffffff;
  font-size: 4vw;
  position: fixed;
  top: 10%;
  left: 14%;
}
.showmerch {
  background-image: url(assets/meltcloseup.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  transition: all .9s ease;
  width: 50%;
  z-index: +1;
  position: fixed;
  left: 0%;
  top: 0%;
}
.showmerch #merch {
  transform: rotate(0deg);
  color: transparent;
  position: fixed;
  top: -8%;
  left: -8%;
}
.showmerch #merch::after {
  font-size: 2vw;
  content:"close";
  padding: 5px;
  border: solid 2px #ffffff;
  border-radius: 50px;
  background: #fdcee2;
  color: #ffffff;
}
.merch .btn {
  background-color: transparent;
  border: solid 1px transparent;
}
.showmerch .btn {
    background-position: center;
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    height: 40%;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}
#ogBtn {
  background-image: url(assets/ogtee.png);
  margin-top:10%;
  margin-left: 15%;
  outline-color: #ffe9f2;
}
#mintBtn {
  background-image: url(assets/mintee.png);
  margin-top:10%;
  outline-color: #ffe9f2;
}
#creepBtn {
  background-image: url(assets/creeptee.png);
  margin-top:5%;
  margin-left: 15%;
  outline-color: #ffe9f2;
}
#shortsBtn {
  background-image: url(assets/shorts.png);
  margin-top:5%;
  outline-color: #ffe9f2;
}

@media (max-width: 1000px) {
  html {
    background-size: 60%; 
    margin-top: 30%;
  }
  header {
    text-align: left;
    padding-left: 10%;
    padding-top: 20%;
    font-weight: 200;
  }
  .about {
    height: 5vh;
    width: 100vh;
    overflow: hidden;
    transition: all .9s ease;
    position: fixed;
    top: 0%;
  }
  #about::before {
    content:"about";
  }
  #about {
    transform: rotate(0deg);
    font-size: 5vw;
    position: fixed;
    top: -2%;
    left: 45%;
  }
  .showabout {
    width: 100%;
    height: 100%;
  }
  .showabout #about {
    top: 2%;
    left: 2%;
  }
  .showabout #about::after {
    font-size: 4vw;
  }

  .menu {
    height: 5vh;
    width: 100vh;
    overflow: hidden;
    transition: all .9s ease;
    position: fixed;
    top: 5%;
    left: 0%;
  }
  #menu {
    transform: rotate(0deg);
    font-size: 5vw;
    position: fixed;
    top: 3%;
    left: 45%;
  }
  .showmenu {
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fdcee2;
    width: 100%;
    height: 101%;
    position: fixed;
    top: -1%;
  }
  .showabout #menu {
    top: 2%;
    left: 2%;
  }
  .showmenu #menu::after {
    font-size: 4vw;
  }

  .merch {
    height: 5vh;
    width: 100vh;
    overflow: hidden;
    transition: all .9s ease;
    position: fixed;
    top: 10%;
    left: 0%;
  }
  #merch {
    transform: rotate(0deg);
    font-size: 5vw;
    position: fixed;
    top: 8%;
    left: 45%;
  }
  .showmerch {
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fdcee2;
    width: 100%;
    height: 101%;
    position: fixed;
    top: -1%;
  }
  .showmerch #merch {
    top: 2%;
    left: 2%;
  }
  .showmerch #merch::after {
    font-size: 4vw;
  }
}
