@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
html {
  box-sizing: border-box;
  background-image:url(assets/bg.png);
  background-repeat: no-repeat;
  background-color: #fdcee2;
  background-position: right top;
}
body {
  margin: 0;
}
header {
  font-family: 'Playfair Display';
  font-size: 15vw;
  font-weight: 600;
  color: #ffffff;
  text-align: right;
  padding-right: 10%;
}